*,
*::before,
*::after {
    box-sizing: border-box;
}
html, body {
  font-family: 'Nunito Sans', sans-serif;
  color: #333;
  font-size: 16px;
}
p {
  line-height: 1.6;
  max-width: 50em;
}
ul, li{
  list-style: none;
}
.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}
button, input {
  font-family: Hind, sans-serif;
  font-size: 1rem;
  outline: none;
}
.full{
  float: left;
  width: 100%;
}
.wrap, .row, .tab-row {
  margin: 0 auto;
  max-width: 1140px;
}
.nav {
  position: fixed;
  z-index: 3;
  height: 60px;
  width: 100%;
  transition: 300ms ease;
}
.brand {
  float: left;
  line-height: 60px;
  color: white;
  font-weight: 500;
  padding-left: 1rem;
}
.brand span {
  font-size: .9em;
  font-weight: 700;
}
.brand img {
  vertical-align: middle;
  height: calc(60px - 1rem);
  margin-right: .5rem;
}
.email-gap{
  border-right: 10px solid #75889B;
}
.socmed{
  justify-content: flex-end;
}
.top-menu {
  display: none;
  position: relative;
  float: right;
  transition: 200ms ease;
  font-weight: 300;
  height: 60px;
}
.img-side img{
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*  */
.player {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 50%;
  overflow: visible;
  margin: 80px auto;
}

.player:hover {
  opacity: .8;
}

.left-side {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border-radius: 50%;    
  border: 10px solid #eee;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(45deg);
}

.left-side.fill {
  border-color: transparent;
  border-left-color: #4beade;
  border-bottom-color: #4beade;
}

.right-side {
  transform: rotate(45deg);
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border-radius: 50%;    
  border: 10px solid #4beade;
  border-left-color: #eee;
  border-bottom-color: #eee;
}

.player-text {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
color: #4beade;
font-weight: 700;
font-size: 20px;
}

.player-title {
  position: absolute;
  left: 0; right: 0;
  top: calc(50% + 55px);
  text-align: center;
  color: #999;
}
/*  */
@media screen and (min-width: 640px) {
  .top-menu {
    display: block;
  }
}
.top-menu li {
  display: block;
  float: left;
  height: 60px;
}
.top-menu li a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #fff;
  padding: 0 1em;
}
.top-menu li a:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.mobile-open {
  display: block;
}

.hamburger-btn {
  float: right;
  display: block;
  border: none;
  background: transparent;
  color: #fff;
  height: calc(60px - 1rem);
  width: calc(60px - 1rem);
  margin: 0.5rem 0.5rem 0 0;
  padding: 0;
  position: relative;
}
@media screen and (min-width: 640px) {
  .hamburger-btn {
    display: none;
  }
}
.hamburger-btn:hover {
  background: rgba(0, 0, 0, 0.1);
}
.hamburger-btn .hamburger-line {
  height: 2px;
  width: calc(60px - 2rem);
  background: #fff;
  display: block;
  position: absolute;
  left: calc(0.5rem - 1px);
  transition: top 150ms ease-out 150ms, bottom 150ms ease-out 150ms, opacity 150ms ease 75ms, -webkit-transform 150ms ease-in;
  transition: transform 150ms ease-in, top 150ms ease-out 150ms, bottom 150ms ease-out 150ms, opacity 150ms ease 75ms;
  transition: transform 150ms ease-in, top 150ms ease-out 150ms, bottom 150ms ease-out 150ms, opacity 150ms ease 75ms, -webkit-transform 150ms ease-in;
}
.hamburger-btn .hamburger-line:first-child {
  top: 0.75rem;
}
.hamburger-btn .hamburger-line:nth-child(2) {
  top: calc(50% - 1px);
}
.hamburger-btn .hamburger-line:last-child {
  bottom: 0.75rem;
}

.hamburger-cross .hamburger-line {
  transition: top 150ms ease-in, bottom 150ms ease-in, opacity 150ms ease 75ms, -webkit-transform 150ms ease-out 150ms;
  transition: transform 150ms ease-out 150ms, top 150ms ease-in, bottom 150ms ease-in, opacity 150ms ease 75ms;
  transition: transform 150ms ease-out 150ms, top 150ms ease-in, bottom 150ms ease-in, opacity 150ms ease 75ms, -webkit-transform 150ms ease-out 150ms;
}
.hamburger-cross .hamburger-line:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: calc(50% - 1px);
}
.hamburger-cross .hamburger-line:nth-child(2) {
  top: calc(50% - 1px);
  opacity: 0;
}
.hamburger-cross .hamburger-line:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: calc(50% - 1px);
}

.scroll {
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.scroll .top-menu li a, .scroll .brand {
  color: black;
}
.scroll .hamburger-line {
  background: #000;
}

.hero {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 100vh;
  max-height: 1080px;
  background-image: url(http://unsplash.it/g/1280/721);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  width: 100%;
  text-align: center;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
.hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom right, #28e, #e14);
  opacity: 0.9;
  z-index: -1;
}
.hero h1 {
  font-size: 4em;
  margin-bottom: 1rem;
}
.hero p {
  font-size: 2em;
  max-width: 80%;
  font-weight: 300;
}
.hero .content {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  margin-left: 10rem;
}
.txt-header p{
  width: 50%;
}
.list-header li{
  background: #fff;
  border-radius: 10px;
  border-bottom: 5px solid cornflowerblue;
  color: #000;
  padding: 15px;
  margin-right: 120px;
}
.list-header li:last-child{
  margin-right: 0;
}
.list-header li span{
  color: #999;
}
.list-header li a{
  color: blue;
}
h1, h2, p {
  margin: 1em 0;
}

h2 {
  font-size: 2rem;
  line-height: 0.5;
}

a {
  color: #e14;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.row:after, .tab-row:after {
  content: "";
  display: table;
  clear: both;
}

.row, .tab-row {
  display: block;
}

.tab-row {
  display: table;
  height: 100%;
  vertical-align: middle;
}

.main {
  background: #f8f8f8;
}
.main .row, .main .tab-row {
  min-height: 200px;
}
.main .row:before, .main .row:after, .main .tab-row:before, .main .tab-row:after {
  content: '';
  display: table;
}

.feature {
  background-image: url(http://unsplash.it/g/1280/722);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
}
.feature:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom right, #ee8822, #11eebb);
  opacity: 0.9;
  z-index: -1;
}

.footer {
  background: #75889b;
  color: #ddd;
  padding: 2rem;
}
.footer li {
  line-height: 1.5;
}
.footer a {
  color: #aaa;
}
.footer hr {
  max-width: 1000px;
  border: 0;
  height: 1px;
  background: #a2aebb;
}

.col-4, .col-6, .col-12 {
  width: 100%;
}
@media screen and (min-width: 640px) {
  .col-4, .col-6, .col-12 {
    float: left;
  }
}
.tab-row > .col-4, .tab-row > .col-6, .tab-row > .col-12 {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  float: none;
}

@media screen and (min-width: 640px) {
  .col-4 {
    width: 33%;
  }
}

@media screen and (min-width: 640px) {
  .col-6 {
    width: 50%;
  }
}

button.cta {
  padding: 0.75em 1.5em;
  cursor: pointer;
  transition: 200ms ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
button.cta:hover {
  box-shadow: 0 0.25em 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 500px){
  h2{
    line-height: normal !important;
  }
  header{
    height: auto !important;
  }
  header .content{
    margin: 0  !important;
  }
  .txt-header h1{
    font-size: 40px;
    margin-top: 100px;
  }
  .txt-header p{
    width: 100%;
    font-size: 1em;
  }
  .list-header li{
    margin-bottom: 10px;
  }
  .player{
    width: 200px;
    height: 200px;
  }
  .img-txt{
    display: block;
  }
  .footer{
    padding: 2rem 0;
  }
  .menu-footer{
    text-align: center;
  }
  .email-gap{
    border: none;
  }
}
